<div>
  <ul>
    <li>
      <a [routerLink]="['/services-exo1']" routerLinkActive="router-link-active"
        >Clique pour voir l'exercice 1 du chapitre Services</a
      >
    </li>
    <li>
      <a [routerLink]="['/expressions-exo6']" routerLinkActive="router-link-active"
        >Clique pour voir l'exercice 6 du chapitre Expressions</a
      >
    </li>
    <li>
      <a [routerLink]="['/proprietes-evenements-exo7']" routerLinkActive="router-link-active"
        >Clique pour voir l'exercice 7 du chapitre Propriétés - Evènements</a
      >
    </li>
  </ul>
</div>
